*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 
    !!! This defines what 1rem is
    (sets root font size to base 10 so we can do easy math with 'rem' units) 
  */

  font-size: 62.5%; // 1rem = 10px (10/16 = 62.5%)

  /* 
    Default font size of the browser is 16px.
    We want the default font size to be 10px, so we
    can multiply rems by base 10, so we divide 10 (the size we want)
    by 16 (default browser size). This equals .625, so we set
    the root font size to 62.5% so that no matter what size the
    user chooses (or zooms), the font size remains consistent.
  */

  @include respond(tab-land) { // width < 1200?
    font-size: 56.25%; // 1rem = 9px (9/16 = 56.25%)
  }

  @include respond(tab-port) { // width < 900?
    font-size: 50%; // 1rem = 8px (8/16 = 50%)
  }

  @include respond(big-desktop) { // width > 1800?
    font-size: 75%; // 1rem = 12px (12/16 = 75%)
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
